[submodule "MTUL-filesystem"]
	path = MTUL-filesystem
	url = https://github.com/Minetest-Unification-Library/MTUL-filesystem
	branch = master
[submodule "MTUL-b3d-standalone"]
	path = MTUL-b3d-standalone
	url = https://github.com/Minetest-Unification-Library/MTUL-b3d-standalone
	branch = master
[submodule "MTUL-CPML"]
	path = MTUL-CPML
	url = https://github.com/Minetest-Unification-Library/MTUL-CPML
	branch = branch
[submodule "MTUL-class"]
	path = MTUL-class
	url = https://github.com/Minetest-Unification-Library/MTUL-class
	branch = branch
[submodule "MTUL-player-override"]
	path = MTUL-player-override
	url = https://github.com/Minetest-Unification-Library/MTUL-player-override
